<% layout('./layouts/boilerplate') %>
<h1>Wallet</h1>
<hr>
<div class="d-flex row row-cols-1 row-cols-lg-4 gy-3 gx-4">
  <% for (let item of wallet) { %>
    <div class="col">
      <div class="card m-0 currencyCard text-center">
        <img src="<%= item.icon %>" class="mt-4 mx-auto" width="64" alt="Currency icon">
        <div class="card-body">
          <h6 class="card-title"><%= item.name %></h6>
          <% if (item.name === 'Coin') { %>
            <p class="mb-0"><%- convertGold(item.value) %></p>
          <% } else { %>
            <p class="mb-0"><%= convertNum(item.value) %></p>
          <% } %> 
        </div>
      </div>
    </div>
  <% } %>
</div>