<%- layout("layouts/boilerplate") %>
<div class="d-flex justify-content-between">
  <div>
    <h1>Watchlist</h1>
  </div>
  <div>
    <button id="ajaxBtn" class="btn">Update</button>
  </div>
</div>
<hr>
<form action="/market/watchlist" method="POST">
  <div class="input-group mb-3">
    <input id="filterInput" class="form-control form-control-lg" type="text" placeholder="Search for item to watch"
      name="marketSearch">
    <button class="btn">Search</button>
  </div>
</form>
<% if (items) { %>
<ul class="list-group list-group-flush">
  <% for (let item of items) { %>
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto">
        <img src="<%= item.icon %>" class="rounded" alt="Item icon">
      </div>
      <div class="col">
        <%= item.name %>
        <br>
        Level: <%= item.level %>
      </div>
    </div>
  </li>
  <% } %>
</ul>
<% } %>
<script>
  (function () {
    var httpRequest;
    document.getElementById('ajaxBtn').addEventListener('click', makeRequest);

    function makeRequest() {
      httpRequest = new XMLHttpRequest();

      if (!httpRequest) {
        alert('Cannot create XMLHTTP instance');
        return false;
      }
      httpRequest.onreadystatechange = alertContents;
      httpRequest.open('GET', 'http://localhost:3000/test');
      httpRequest.send();
    }

    function alertContents() {
      if (httpRequest.readyState === XMLHttpRequest.DONE) {
        if (httpRequest.status === 200) {
          alert(httpRequest.responseText);
        } else {
          alert('There was a problem with the request.')
        }
      }
    }
  })();
</script>