<% layout('./layouts/boilerplate') %>
<h1>Material Storage</h1>
<hr>
<ul>
  <% for (let [id, item] of Object.entries(materials)) { %>
    <li class="<% item.count === 0 ? 'muted' : '' %>">
      <%= item.name %> (<%= item.count %>)
    </li>
  <% } %>
</ul>