<nav id="navBar" class="navbar navbar-expand-lg sticky-top navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">GW2 API</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/api">Add API Key</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="/daily">Daily Achievements</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="/market/current">Current Listings</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="/market/history">Market History</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="/bank">Bank</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="https://github.com/gilbustamante">GitHub</a>
      </div>
    </div>
  </div>
</nav>
