body {
    background: rgb(249, 251, 255);
    color: rgb(48, 86, 131);
}

li.list-group-item {
    background: rgb(249, 251, 255);
    transition: background 0.1s;
}

li.list-group-item:hover {
    background: hsl(217, 12%, 87%);
}

nav#navBar {
    /* background: rgb(95, 95, 95); */
    background: rgb(48, 86, 131);
}

.hidden {
    display: none;
}

.boxShadow {
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, .2);
}